@use 'sass:map';

// Border Sizes and Radius
$border-sizes: (
    1: 1px,
    2: 2px,
    3: 5px
);
$radius-values: (
    1: 2px,
    2: 5px,
    3: 1rem,
    round: 1e5px
);

// Define: Border Sizes
$border-size-1: map.get($border-sizes, 1);
$border-size-2: map.get($border-sizes, 2);
$border-size-3: map.get($border-sizes, 3);

// Define: Border Radius
$radius-1: map.get($radius-values, 1);
$radius-2: map.get($radius-values, 2);
$radius-3: map.get($radius-values, 3);
$radius-round: map.get($radius-values, round);

// Border Inner Radius
$nice-inner-radius: calc(map.get($radius-values, 3) - 2px);
