$blue-0: #e7f5ff;
$blue-1: #d0ebff;
$blue-2: #a5d8ff;
$blue-3: #74c0fc;
$blue-4: #4dabf7;
$blue-5: #339af0;
$blue-6: #228be6;
$blue-7: #1c7ed6;
$blue-8: #1971c2;
$blue-9: #1864ab;
$blue-10: #145591;
$blue-11: #114678;
$blue-12: #0d375e;

$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;
$gray-10: #16191d;
$gray-11: #0d0f12;
$gray-12: #030507;

$green-0: #ebfbee;
$green-1: #d3f9d8;
$green-2: #b2f2bb;
$green-3: #8ce99a;
$green-4: #69db7c;
$green-5: #51cf66;
$green-6: #40c057;
$green-7: #37b24d;
$green-8: #2f9e44;
$green-9: #2b8a3e;
$green-10: #237032;
$green-11: #1b5727;
$green-12: #133d1b;

$indigo-0: #edf2ff;
$indigo-1: #dbe4ff;
$indigo-2: #bac8ff;
$indigo-3: #91a7ff;
$indigo-4: #748ffc;
$indigo-5: #5c7cfa;
$indigo-6: #4c6ef5;
$indigo-7: #4263eb;
$indigo-8: #3b5bdb;
$indigo-9: #364fc7;
$indigo-10: #2f44ad;
$indigo-11: #283a94;
$indigo-12: #21307a;

$purple-0: #f8f0fc;
$purple-1: #f3d9fa;
$purple-2: #eebefa;
$purple-3: #e599f7;
$purple-4: #da77f2;
$purple-5: #cc5de8;
$purple-6: #be4bdb;
$purple-7: #ae3ec9;
$purple-8: #9c36b5;
$purple-9: #862e9c;
$purple-10: #702682;
$purple-11: #5a1e69;
$purple-12: #44174f;

$red-0: #fff5f5;
$red-1: #ffe3e3;
$red-2: #ffc9c9;
$red-3: #ffa8a8;
$red-4: #ff8787;
$red-5: #ff6b6b;
$red-6: #fa5252;
$red-7: #f03e3e;
$red-8: #e03131;
$red-9: #c92a2a;
$red-10: #b02525;
$red-11: #962020;
$red-12: #7d1a1a;
