$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;
$gray-10: #16191d;
$gray-11: #0d0f12;
$gray-12: #030507;

$indigo-0: #edf2ff;
$indigo-1: #dbe4ff;
$indigo-2: #bac8ff;
$indigo-3: #91a7ff;
$indigo-4: #748ffc;
$indigo-5: #5c7cfa;
$indigo-6: #4c6ef5;
$indigo-7: #4263eb;
$indigo-8: #3b5bdb;
$indigo-9: #364fc7;
$indigo-10: #2f44ad;
$indigo-11: #283a94;
$indigo-12: #21307a;

$purple-0: #f8f0fc;
$purple-1: #f3d9fa;
$purple-2: #eebefa;
$purple-3: #e599f7;
$purple-4: #da77f2;
$purple-5: #cc5de8;
$purple-6: #be4bdb;
$purple-7: #ae3ec9;
$purple-8: #9c36b5;
$purple-9: #862e9c;
$purple-10: #702682;
$purple-11: #5a1e69;
$purple-12: #44174f;
