// Easing Animation
$ease-1: cubic-bezier(0.25, 0, 0.5, 1);
$ease-2: cubic-bezier(0.25, 0, 0.4, 1);
$ease-3: cubic-bezier(0.25, 0, 0.3, 1);

// Ease-In Animation
$ease-in-1: cubic-bezier(0.25, 0, 1, 1);
$ease-in-2: cubic-bezier(0.5, 0, 1, 1);
$ease-in-3: cubic-bezier(0.7, 0, 1, 1);

// Ease-Out Animation
$ease-out-1: cubic-bezier(0, 0, 0.75, 1);
$ease-out-2: cubic-bezier(0, 0, 0.5, 1);
$ease-out-3: cubic-bezier(0, 0, 0.3, 1);

// Ease-In-Out Animation
$ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
$ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
$ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);

// Ease-Elastic-Out Animation
$ease-elastic-out-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
$ease-elastic-out-2: cubic-bezier(0.5, 1, 0.75, 1.25);
$ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);

// Ease-Elastic-In Animation
$ease-elastic-in-1: cubic-bezier(0.5, -0.25, 0.75, 1);
$ease-elastic-in-2: cubic-bezier(0.5, -0.5, 0.75, 1);
$ease-elastic-in-3: cubic-bezier(0.5, -0.75, 0.75, 1);
