@use 'sass:map';

// Font Family
$font-sans: system-ui, -apple-system, segoe ui, roboto, ubuntu, cantarell, noto sans, sans-serif;
$font-serif: ui-serif, serif;
$font-mono: ui-monospace, monospace;

// Font Weight
$font-weights: (
    1: 100,
    2: 200,
    3: 300,
    4: 400,
    5: 500,
    6: 600,
    7: 700,
    8: 800,
);

// Line Height
$font-lineheights: (
    1: 1.25,
    2: 1.375,
    3: 1.5,
    4: 1.75,
    5: 2,
);

// Letter Spacing
$font-letterspacings: (
    0: -0.05em,
    1: 0.025em,
    2: 0.05em,
    3: 0.075em,
);

// Font Size
$font-sizes: (
    1: 1rem,
    2: 1.1rem,
    3: 1.25rem,
    4: 1.5rem,
    5: 2rem,
    6: 2.5rem,
    7: 3rem,
    8: 3.5rem,
);

// Font Size Fluid
$font-size-fluids: (
    0: clamp(0.75rem, 2vw, 1rem),
    1: clamp(1rem, 4vw, 1.5rem),
    2: clamp(1.5rem, 6vw, 2.5rem),
    3: clamp(2rem, 9vw, 3.5rem),
);

// Define: Font Weights
$font-weight-1: map.get($font-weights, 1);
$font-weight-2: map.get($font-weights, 2);
$font-weight-3: map.get($font-weights, 3);
$font-weight-4: map.get($font-weights, 4);
$font-weight-5: map.get($font-weights, 5);
$font-weight-6: map.get($font-weights, 6);
$font-weight-7: map.get($font-weights, 7);
$font-weight-8: map.get($font-weights, 8);

// Define: Line Heights
$font-lineheight-1: map.get($font-lineheights, 1);
$font-lineheight-2: map.get($font-lineheights, 2);
$font-lineheight-3: map.get($font-lineheights, 3);
$font-lineheight-4: map.get($font-lineheights, 4);
$font-lineheight-5: map.get($font-lineheights, 5);

// Define: Letter Spacing
$font-letterspacing-0: map.get($font-letterspacings, 0);
$font-letterspacing-1: map.get($font-letterspacings, 1);
$font-letterspacing-2: map.get($font-letterspacings, 2);
$font-letterspacing-3: map.get($font-letterspacings, 3);

// Define: Font Sizes
$font-size-1: map.get($font-sizes, 1);
$font-size-2: map.get($font-sizes, 2);
$font-size-3: map.get($font-sizes, 3);
$font-size-4: map.get($font-sizes, 4);
$font-size-5: map.get($font-sizes, 5);
$font-size-6: map.get($font-sizes, 6);
$font-size-7: map.get($font-sizes, 7);
$font-size-8: map.get($font-sizes, 8);

// Define: Font Sizes Fluid
$font-size-fluid-0: map.get($font-size-fluids, 0);
$font-size-fluid-1: map.get($font-size-fluids, 1);
$font-size-fluid-2: map.get($font-size-fluids, 2);
$font-size-fluid-3: map.get($font-size-fluids, 3);


@mixin generate-variables($prefix, $values) {
    @each $key, $value in $values {
        $variable-name: #{$prefix}-#{$key};

        #{$variable-name}: map.get($values, $key);
    }
}



