// Font Family
$font-sans: system-ui, -apple-system, segoe ui, roboto, ubuntu, cantarell, noto sans, sans-serif;
$font-serif: ui-serif, serif;
$font-mono: ui-monospace, monospace;

// Font Weight
$font-weight-1: 100;
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-6: 600;
$font-weight-7: 700;
$font-weight-8: 800;

// Line Height
$font-lineheight-1: 1.25;
$font-lineheight-2: 1.375;
$font-lineheight-3: 1.5;
$font-lineheight-4: 1.75;
$font-lineheight-5: 2;

// Letter Spacing
$font-letterspacing-0: -0.05em;
$font-letterspacing-1: 0.025em;
$font-letterspacing-2: 0.05em;
$font-letterspacing-3: 0.075em;
$font-letterspacing-4: 0.15em;
$font-letterspacing-5: 0.5em;
$font-letterspacing-6: 0.75em;
$font-letterspacing-7: 1em;

// Font Size
$font-size-1: 1rem;
$font-size-2: 1.1rem;
$font-size-3: 1.25rem;
$font-size-4: 1.5rem;
$font-size-5: 2rem;
$font-size-6: 2.5rem;
$font-size-7: 3rem;
$font-size-8: 3.5rem;

// Font Size Fluid
$font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
$font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
$font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
$font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
