// Size
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.25rem;
$size-5: 1.5rem;
$size-6: 1.75rem;
$size-7: 2rem;
$size-8: 3rem;
$size-9: 4rem;
$size-10: 5rem;

// Fluid Size
$size-fluid-1: clamp(0.5rem, 1vw, 1rem);
$size-fluid-2: clamp(1rem, 2vw, 1.5rem);
$size-fluid-3: clamp(1.5rem, 3vw, 2rem);
$size-fluid-4: clamp(2rem, 4vw, 3rem);
$size-fluid-5: clamp(4rem, 5vw, 5rem);

// Content Size 
$size-content-1: 20ch;
$size-content-2: 45ch;
$size-content-3: 60ch;

// Header Size
$size-header-1: 20ch;
$size-header-2: 25ch;
$size-header-3: 35ch;

// Breakpoints
$size-xxs: 240px;
$size-xs: 360px;
$size-sm: 480px;
$size-md: 768px;
$size-lg: 1024px;
$size-xl: 1440px;
$size-xxl: 1920px;

// Relative Size
$size-relative-1: 0.25ch;
$size-relative-2: 0.5ch;
$size-relative-3: 1ch;
$size-relative-4: 1.25ch;
$size-relative-5: 1.5ch;
$size-relative-6: 1.75ch;
$size-relative-7: 2ch;
$size-relative-8: 3ch;
$size-relative-9: 4ch;
$size-relative-10: 5ch;
