@use 'sass:map';

// Size Map
$sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.25rem,
  5: 1.5rem,
  6: 1.75rem,
  7: 2rem,
  8: 3rem,
  9: 4rem,
  10: 5rem
);

// Fluid Size Map
$fluid-sizes: (
  1: clamp(0.5rem, 1vw, 1rem),
  2: clamp(1rem, 2vw, 1.5rem),
  3: clamp(1.5rem, 3vw, 2rem),
  4: clamp(2rem, 4vw, 3rem),
  5: clamp(4rem, 5vw, 5rem)
);

// Content Size Map
$content-sizes: (
  1: 20ch,
  2: 45ch,
  3: 60ch
);

// Header Size Map
$header-sizes: (
  1: 20ch,
  2: 25ch,
  3: 35ch
);

// Breakpoints Map
$breakpoints: (
  xxs: 240px,
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
);

// Relative Size Map
$relative-sizes: (
  1: 0.25ch,
  2: 0.5ch,
  3: 1ch,
  4: 1.25ch,
  5: 1.5ch,
  6: 1.75ch,
  7: 2ch,
  8: 3ch,
  9: 4ch,
  10: 5ch
);

// Define: Sizes
$size-1: map.get($sizes, 1);
$size-2: map.get($sizes, 2);
$size-3: map.get($sizes, 3);
$size-4: map.get($sizes, 4);
$size-5: map.get($sizes, 5);
$size-6: map.get($sizes, 6);
$size-7: map.get($sizes, 7);
$size-8: map.get($sizes, 8);
$size-9: map.get($sizes, 9);
$size-10: map.get($sizes, 10);

// Define: Fluid Sizes
$size-fluid-1: map.get($fluid-sizes, 1);
$size-fluid-2: map.get($fluid-sizes, 2);
$size-fluid-3: map.get($fluid-sizes, 3);
$size-fluid-4: map.get($fluid-sizes, 4);
$size-fluid-5: map.get($fluid-sizes, 5);

// Define: Content Sizes
$size-content-1: map.get($content-sizes, 1);
$size-content-2: map.get($content-sizes, 2);
$size-content-3: map.get($content-sizes, 3);

// Define: Header Sizes
$size-header-1: map.get($header-sizes, 1);
$size-header-2: map.get($header-sizes, 2);
$size-header-3: map.get($header-sizes, 3);

// Define: Breakpoints
$size-xxs: map.get($breakpoints, xxs);
$size-xs: map.get($breakpoints, xs);
$size-sm: map.get($breakpoints, sm);
$size-md: map.get($breakpoints, md);
$size-lg: map.get($breakpoints, lg);
$size-xl: map.get($breakpoints, xl);
$size-xxl: map.get($breakpoints, xxl);

// Define: Relative Sizes
$size-relative-1: map.get($relative-sizes, 1);
$size-relative-2: map.get($relative-sizes, 2);
$size-relative-3: map.get($relative-sizes, 3);
$size-relative-4: map.get($relative-sizes, 4);
$size-relative-5: map.get($relative-sizes, 5);
$size-relative-6: map.get($relative-sizes, 6);
$size-relative-7: map.get($relative-sizes, 7);
$size-relative-8: map.get($relative-sizes, 8);
$size-relative-9: map.get($relative-sizes, 9);
$size-relative-10: map.get($relative-sizes, 10);
