# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Hidden files
.DS_Store

# Directories
public/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test