*,
::before,
::after { box-sizing: border-box; }

:where(:not(dialog)) {
    margin: 0;
}

:where(:not(fieldset, progress, meter)) {
    border-width: 0;
    border-style: solid;
    background-origin: border-box;
    background-repeat: no-repeat;
}

:where(html) {
    block-size: 100%;
    font-family: $font-sans;
    line-height: $font-lineheight-3;

    @include reduce-motion ($motionOK) {
        scroll-behavior: smooth;
    }
}

@include reduce-motion ($motionOK) {
    :where(:focus-visible) {
        transition: outline-offset 145ms $ease-2;
    }

    :where(:not(:active):focus-visible) {
        transition-duration: 0.25s;
    }
}

:where(:not(:active):focus-visible) {
    outline-offset: 5px;
}

:where(body) {
    min-block-size: 100%;
}

:where(h1, h2, h3, h4, h5, h6) {
    line-height: $font-lineheight-1;
    font-weight: $font-weight-9;
    text-wrap: balance;
}

:where(h1) {
    font-size: $font-size-8;
    max-inline-size: $size-header-1;
}

:where(h3, h4, h5, h6, dt) {
    max-inline-size: $size-header-3;
}

:where(p, ul, ol, dl, h6) {
    font-size: $font-size-2;
}

:where(a, u, ins, abbr) {
    text-underline-offset: 1px;
}

:where(a[href], area, button,
input:not([type='text'], [type='email'], [type='number'], [type='password'], [type=''], [type='tel'], [type='url']),
label[for],
select,
summary,
[tabindex]:not([tabindex*='-'])
) {
    cursor: pointer;
}

:where(a) {
    padding-inline: $size-1;
    margin-inline: calc($size-1 * -1);
    padding-block: $size-1;
    margin-block: calc($size-1 * -1);

    &:where([href]) {
        text-decoration-color: $indigo-2;

        &:where(:visited) {
            text-decoration-color: $purple-2;
        }
    }

    &:where(:not(:hover)) {
        text-decoration: inherit;
    }
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}

:where(img, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
}

:where(input, button, textarea, select),
:where(input[type='file'])::-webkit-file-upload-button {
    font: inherit;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
}

::placeholder {
    color: $gray-7;
    opacity: 0.75;
}

:where(input:not([type='range']), textarea) {
    padding-inline: $size-2;
    padding-block: $size-1;
}

:where(select) {
    padding-inline: $size-relative-4 0;
    padding-block: 0.75ch;
}

:where(textarea) { resize: block; }

:where(:not(pre) > code, kbd) { white-space: nowrap; }

:where(pre) {
    white-space: pre;
    min-inline-size: 0;
    max-inline-size: max-content;
    writing-mode: lr;
    direction: ltr;
}

:where(:is(td,th):not([align])) {
    text-align: center;
}

:where(thead) {
    border-collapse: collapse;
}
