<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Starter Template</title>
</head>

<body>
    <!-- Make all the changes here -->
    <nav>
        <button class="theme-toggle" id="theme-toggle" data-icon="light" title="Toggles light & dark" aria-label="auto" aria-live="polite">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="dark sun-icon">
                <circle cx="12" cy="12" r="4" />
                <path d="M12 2v2" />
                <path d="M12 20v2" />
                <path d="m4.93 4.93 1.41 1.41" />
                <path d="m17.66 17.66 1.41 1.41" />
                <path d="M2 12h2" />
                <path d="M20 12h2" />
                <path d="m6.34 17.66-1.41 1.41" />
                <path d="m19.07 4.93-1.41 1.41" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="#45444b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="light moon-icon">
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
            </svg>
        </button>
    </nav>
    <main>
        <div class="icon-container">
            <picture>
                <source srcset="../../assets/icons/jquery-light.svg" media="(prefers-color-scheme: light)">
                <img src="../../assets/icons/jquery-dark.svg" alt="" style="--_scale: 9">
            </picture>
            <img src="../../assets/icons/sass.svg" alt="" style="--_scale: 7">
        </div>
        <div class="text-container flow">
            <p>Skip the boilerplate, build awesome single page applications faster with this magic duo: jQuery & Sass.</p>
            <img class="emoji" src="../../assets/images/rocket.webp" alt="" style="--_scale: 6">
            <a href="https://github.com/BrinsilElias/starter-template" target="_blank">Check out the repo</a>
        </div>
        <div>
            <figure class="terminal">
                <figcaption class="terminal-header">
                    <span class="title"></span>
                    <span class="sr-only">Terminal window</span>
                </figcaption>
                <pre>
<code><div class="tr-line"><span style="--_fclr:#7d8888;"># Make all the changes in src/</span></div><div class="tr-line"><span style="--_fclr:#80a5f4;">npm</span><span> </span><span style="--_fclr:#e8bd82;">run</span><span> </span><span style="--_fclr:#e8bd82;">start</span>   <span style="--_fclr:#7d8888;"># Spin up a dev server</span>
</div><div class="tr-line"><span style="--_fclr:#80a5f4;">npm</span><span> </span><span  style="--_fclr:#e8bd82;">run</span><span> </span><span  style="--_fclr:#e8bd82;">build</span>   <span  style="--_fclr:#7d8888;"># Builds static JS and SCSS</span>
</div></code></pre>
            </figure>
        </div>
    </main>
</body>

</html>