<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Starter Template</title>
</head>
<body>
    <!-- Make all the changes here -->
    <main>
        <div class="icon__container">
            <picture>
                <source srcset="../../assets/icons/jquery-light.svg" media="(prefers-color-scheme: light)">
                <img src="../../assets/icons/jquery-dark.svg" alt="" style="--_scale: 9">
            </picture>
            <img src="../../assets/icons/sass.svg" alt="" style="--_scale: 7">
        </div>
        <div class="text__container flow">
            <p>Skip the boilerplate, build awesome single page applications faster with this magic duo: jQuery & Sass.
            </p>
            <img class="emoji" src="../../assets/images/rocket.webp" alt="" style="--_scale: 5.5">
            <p>Check out the repo</p>
        </div>
        <div>
            <figure class="frame is-terminal not-content">
                <figcaption class="header">
                    <span class="title"></span>
                    <span class="sr-only">Terminal window</span>
                </figcaption>
                <pre tabindex="0">
<code><div class="ec-line"><span style="--0:#919F9F;--1:#5F636F"># Make all the changes in src/</span></div><div class="ec-line"><span style="--0:#82AAFF;--1:#3B61B0">npm</span><span style="--0:#D6DEEB;--1:#403F53"> </span><span style="--0:#ECC48D;--1:#3B61B0">run</span><span style="--0:#D6DEEB;--1:#403F53"> </span><span style="--0:#ECC48D;--1:#3B61B0">dev</span>     <span style="--0:#919F9F;--1:#5F636F"># Spin up a dev server</span>
</div><div class="ec-line"><span style="--0:#82AAFF;--1:#3B61B0">npm</span><span style="--0:#D6DEEB;--1:#403F53"> </span><span style="--0:#ECC48D;--1:#3B61B0">run</span><span style="--0:#D6DEEB;--1:#403F53"> </span><span style="--0:#ECC48D;--1:#3B61B0">build</span>   <span style="--0:#919F9F;--1:#5F636F"># Builds static JS and SCSS</span>
</div></code>
                </pre>
            </figure>
        </div>
    </main>
</body>
</html>