// Variables
@import './app/styles/variables/fonts.variables';
@import './app/styles/variables/colors.variables';
@import './app/styles/variables/sizes.variables';
@import './app/styles/variables/borders.variables';
@import './app/styles/variables/easing.variables';
@import './app/styles/variables/media.variables';

// Mixins
@import './app/styles/mixins/media.preference';

/* --- Global Styles --- */
@import './app/styles/global/theme.light';
@import './app/styles/global/theme.dark';
@import './app/styles/global/theme.switch.light';
@import './app/styles/global/theme.switch.dark';
@import './app/styles/global/theme';
@import './app/styles/global/normalize';

/* --- Utilities --- */
@import './app/styles/utilities/flow';
@import './app/styles/utilities/region';
@import './app/styles/utilities/wrapper';
@import './app/styles/utilities/visually-hidden';

/* --- Custom Styles --- */
@import './app/styles/index';
