$blue-0: hsl(205deg 100% 95%);
$blue-1: hsl(206deg 100% 91%);
$blue-2: hsl(206deg 100% 82%);
$blue-3: hsl(206deg 96% 72%);
$blue-4: hsl(207deg 91% 64%);
$blue-5: hsl(207deg 86% 57%);
$blue-6: hsl(208deg 80% 52%);
$blue-7: hsl(208deg 77% 47%);
$blue-8: hsl(209deg 77% 43%);
$blue-9: hsl(209deg 75% 38%);
$blue-10: hsl(209deg  76% 32%);
$blue-11: hsl(209deg  75% 27%);
$blue-12: hsl(209deg  76% 21%);
