$green-0: hsl(131deg 67% 95%);
$green-1: hsl(128deg 76% 90%);
$green-2: hsl(128deg 71% 82%);
$green-3: hsl(129deg 68% 73%);
$green-4: hsl(130deg 61% 64%);
$green-5: hsl(130deg 57% 56%);
$green-6: hsl(131deg 50% 50%);
$green-7: hsl(131deg 53% 46%);
$green-8: hsl(131deg 54% 40%);
$green-9: hsl(132deg 52% 35%);
$green-10: hsl(132deg 52% 29%);
$green-11: hsl(132deg 53% 22%);
$green-12: hsl(131deg 53% 16%);
