$indigo-0: hsl(223deg 100% 96%);
$indigo-1: hsl(225deg 100% 93%);
$indigo-2: hsl(228deg 100% 86%);
$indigo-3: hsl(228deg 100% 78%);
$indigo-4: hsl(228deg 96% 72%);
$indigo-5: hsl(228deg 94% 67%);
$indigo-6: hsl(228deg 89% 63%);
$indigo-7: hsl(228deg 81% 59%);
$indigo-8: hsl(228deg 69% 55%);
$indigo-9: hsl(230deg 57% 50%);
$indigo-10: hsl(230deg 57% 43%);
$indigo-11: hsl(230deg 57% 37%);
$indigo-12: hsl(230deg 57% 30%);
