$purple-0: hsl(280deg 67% 96%);
$purple-1: hsl(287deg 77% 92%);
$purple-2: hsl(288deg 86% 86%);
$purple-3: hsl(289deg 85% 78%);
$purple-4: hsl(288deg 83% 71%);
$purple-5: hsl(288deg 75% 64%);
$purple-6: hsl(288deg 67% 58%);
$purple-7: hsl(288deg 56% 52%);
$purple-8: hsl(288deg 54% 46%);
$purple-9: hsl(288deg 54% 40%);
$purple-10: hsl(288deg 55% 33%);
$purple-11: hsl(288deg 56% 26%);
$purple-12: hsl(288deg 55% 20%);
